.form-box input[type="text"],
.form-box select,
.form-box input[type="datetime-local"],
.form-box textarea{
    border: 0;
    background:#DDDDDD;
    display: block;
    margin-left: 2px;
    text-align: center;
    border: 3px solid gray;
    padding: 10px 10px;
    width: 250px;
    outline:none;
    color: black;
    border-radius: 5px;   /*round shape in border*/
    transition: 0.25px;

}

.form-box input[type="file"]{
    display:block;
    border: 3px solid gray;
}

.form-box input[type="submit"]
{
    
    margin-top: 18px;
    width: 100px;
    height: 30px;
    margin-bottom: 40px;
}
.form-box input[type="button"]{
    height: 30px;
    margin-top: 18px;
    width: 100px;
}
.songh1{
    margin-top: 40px;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper h2{
    margin-top: 0;
    color: #333;
}
.wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper .content{
    max-height: 40%;
    max-width: 80%;
    overflow: auto;
}
.container{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;

}
.open-popup{
    visibility: visible;
    top:50%;
transform: translate(-50%,-50%) scale(1);
}